.footer-page {
	background: $color-red;
	.container {
		padding-bottom: 10px;
	}
	@media (min-width: 1200px) {
		.container {
			font-size: 22px;
			padding-top: 20px;
			padding-bottom: 20px;
		}
	}
}