.header-page {
	color: #fff;
	background: $color-red;
	.container {
		position: relative;
	}
	h2,h3 {
		margin: 0;
		font-size: 20px;
		@media (min-width: 1200px) {
			font-size: 35px;
		}
	}
	h2 {
		font-family: $font-f;
	}
	.logo {		
		display: block;
		margin-bottom: 10px;
		img {
			width: 100%;
			height: auto;
		}
		@media (min-width: 1200px) {
			float: right;	
			margin-bottom: 150px;
			img {
				width: auto;
			}
		}
	}
	.follow-fb {
		
		span {
			display: block;
			float: left;
			margin-right: 10px;
			margin-top: 3px;
			font-size: 16px;
		}
		a {
			display: inline-block;
			width: 22px;
			height: 22px;
			background: url(../images/fb.png) no-repeat;
			background-size: 100%;
		}
		@media (min-width: 1200px) {
			position: absolute;
			right: 15px;
			bottom: 0;
			span {
				font-size: 20px;
			}
			a {
				width: 34px;
				height: 34px;
			}
		}
	}
}