/*@font-face {
    font-family: 'arb-218_neon_blunt_mar-50Rg';
    src: url('../fonts/arb-218-nb-finished-freeware-an.eot');
    src: url('../fonts/arb-218-nb-finished-freeware-an.eot?#iefix') format('embedded-opentype'),
         url('../fonts/arb-218-nb-finished-freeware-an.woff2') format('woff2'),
         url('../fonts/arb-218-nb-finished-freeware-an.woff') format('woff'),
         url('../fonts/arb-218-nb-finished-freeware-an.ttf') format('truetype'),
         url('../fonts/arb-218-nb-finished-freeware-an.svg#arb-218_neon_blunt_mar-50Rg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'arb-218_neon_blunt_mar-50It';
    src: url('../fonts/arb-218-nb-finished-freeware-at.eot');
    src: url('../fonts/arb-218-nb-finished-freeware-at.eot?#iefix') format('embedded-opentype'),
         url('../fonts/arb-218-nb-finished-freeware-at.woff2') format('woff2'),
         url('../fonts/arb-218-nb-finished-freeware-at.woff') format('woff'),
         url('../fonts/arb-218-nb-finished-freeware-at.ttf') format('truetype'),
         url('../fonts/arb-218-nb-finished-freeware-at.svg#arb-218_neon_blunt_mar-50It') format('svg');
    font-weight: normal;
    font-style: normal;

}*/

@font-face {
    font-family: 'arb-218_big_blunt_mar-50Rg';
    src: url('../fonts/arb-218-finished-freeware.eot');
    src: url('../fonts/arb-218-finished-freeware.eot?#iefix') format('embedded-opentype'),
         url('../fonts/arb-218-finished-freeware.woff2') format('woff2'),
         url('../fonts/arb-218-finished-freeware.woff') format('woff'),
         url('../fonts/arb-218-finished-freeware.ttf') format('truetype'),
         url('../fonts/arb-218-finished-freeware.svg#arb-218_big_blunt_mar-50Rg') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'helvetica';
    src: url('../fonts/helvetica.eot');
    src: url('../fonts/helvetica.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helvetica.woff2') format('woff2'),
         url('../fonts/helvetica.woff') format('woff'),
         url('../fonts/helvetica.ttf') format('truetype'),
         url('../fonts/helvetica.svg#helvetica-compressedregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

$font-family: 'helvetica', sans-serif;
$font-f: 'arb-218_big_blunt_mar-50Rg', sans-serif;
$font-f-at: 'arb-218_neon_blunt_mar-50It', sans-serif;
$font-f-an: 'arb-218_neon_blunt_mar-50Rg', sans-serif;
$color-red: #b4232f;
$color-border: #ddd;
$color-yellow: #f0aa46;
$font-size-base: 14px;
$font-16: 16px;
$font-18: 18px;
$font-20: 20px;