@import 'variable';
@import '../libs/bower_components/bootstrap-sass/assets/stylesheets/bootstrap';
/*@import '../libs/bower_components/font-awesome/scss/font-awesome';*/

@import '../libs/owl-carousel/owl.carousel';
@import '../libs/owl-carousel/owl.theme';
@import '../libs/owl-carousel/owl.transitions';

@import 'header';
@import 'footer';

body {
	font-family: $font-family;
	-webkit-font-smoothing: antialiased;
}
/* reset */
* {
	outline: none !important;
}
textarea {
	resize: none;
}
h1,h2,h3,h4,h5 {
	font-weight: 400;
}
.widget {	
	padding: 15px 0 35px;	
	margin-top: -1px;
	&.header-page {
		margin-top: 0;
	}
	.widget-title {
		margin-top: 0;
	}
	@media (min-width: 1200px) {
		padding: 40px 0 60px;	
	}
}
.widget-posts-langs {
	background: $color-yellow;
	position: relative;
	&:before {
		content:'';
		position: absolute;
		left: 0;
		top: -13px;
		width: 100%;
		height: 14px;
		background: url(../images/caret-yellow.png) repeat-x;
	}
	.item {				
		padding-bottom: 10px;
		margin-bottom: 10px;
		border-bottom: 1px solid $color-red;
		&:last-child {
			border-bottom: none;
		}
		.post-title {
			font-size: 16px;
			text-align: center;
			padding-bottom: 15px;
			margin: 0;
		}
	}
	.item-en {
		.post-title {
			font-family: $font-f;
		}
	}
	.item-kr {
		font-family: "SimSun";
	}
	.item-jp {
		font-family: "Kozuka Gothic Pr6N";
		.post-title {			
			font-size: 18px;
		}
	}
	@media (min-width: 1200px) {
		.item {
			float: left;
			width: 33.333333%;
			padding-bottom: 0;
			margin-bottom: 0;
			border-bottom: none;
			.post-title {
				font-size: 30px;
				padding-bottom: 25px;
				height: 58px;
			}
			.post-content {
				background: url(../images/line.png) left top repeat-y;
				padding: 0 30px;
			}
			&:first-child {
				.post-content {
					background: none;
				}		
			}
		}
		.item-jp {
			.post-title {			
				font-size: 18px;
			}
		}
	}
}
.widget-menus {
	background: $color-red;
	position: relative;
	&:before {
		content:'';
		position: absolute;
		left: 0;
		top: -23px;
		width: 100%;
		height: 24px;
		background: url(../images/caret-red.png) repeat-x;
	}
	.widget-title {
		color: $color-yellow;
		font-family: $font-f;
		text-align: center;
	}
	.widget-content {
		border: 10px solid $color-yellow;
		img {
			width: 100%;
			height: auto;
		}
	}
	@media (min-width: 1200px) {
		.container {
			position: relative;
		}
		.widget-title {
			font-size: 100px;			
			float: left;
			width: 33.333333%;
			margin: 0;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);			
		}
		.widget-content {
			float: left;
			width: 66.666666%;
			margin-left: 33.333333%;
			border: 24px solid $color-yellow;
			cursor: pointer;
		}
	}
}

.widget-secrets {
	background: #000;
	text-align: center;
	position: relative;
	&:before {
		content:'';
		position: absolute;
		left: 0;
		top: -20px;
		width: 100%;
		height: 21px;
		background: url(../images/caret-black.png) repeat-x;
	}
	.widget-title {
		color: $color-yellow;
		font-family: $font-f;
	}
	img {
		width: 100%;
		height: auto;
	}
	@media (min-width: 1200px) {
		.widget-title {
			font-size:55px;
			margin-bottom: 25px;
		}
		img {
			width: auto;
		}
	}
}
.widget-combos {
	background: $color-yellow;
	position: relative;
	&:before {
		content:'';
		position: absolute;
		left: 0;
		top: -21px;
		width: 100%;
		height: 22px;
		background: url(../images/caret-yellow-2.png) repeat-x;
	}
	.item {
		text-align: center;
	}
	.item-title {
		margin-top: 0;
		margin-bottom: 0;
		font-family: $font-f;
		text-shadow: 0 2px 0 $color-red;
	}
	.item {
		img {
			width: 100%;
			height: auto;
		}
	}
	@media (min-width: 1200px) {
		.item-title {
			font-size: 55px;
		}
		.item {
			img {
				width: auto;
			}
		}
	}
}
.widget-contact {
	background: $color-red;
	color: #fff;
	position: relative;
	&:before {
		content:'';
		position: absolute;
		left: 0;
		top: -23px;
		width: 100%;
		height: 24px;
		background: url(../images/caret-red.png) repeat-x;
	}
	.gmap {
		width: 100%;
		height: 250px;
		margin-bottom: 15px;
	}
	.widget-title {
		color: $color-yellow;
		text-align: center;
		font-family: $font-f;
	}
	.form-group {
		label {
			font-weight: normal;
			margin-bottom: 10px;
		}
	}
	.info-company {
		font-family: $font-f;
	}
	.form-submit {
		.btn-primary {
			background: $color-yellow;
			border-color: $color-yellow;
		}
	}
	@media (min-width: 1200px) {
		.widget-title {
			font-size: 55px;
			margin-bottom: 30px;
		}
		.form-group {
			label {
				font-size: 25px;
			}
			.form-control {
				height: 52px;
				border-color: #fff;
			}
			textarea.form-control {
				height: 120px;
			}
		}
		.form-submit {
			.btn-primary {
				font-size: 22px;
			}
		}
		.info-company {
			font-size: 25px;
			p {
				margin-bottom: 0;
			}
		}
	}
}
.gmap-info-marker {
	color: #333;
	margin-bottom: 0;
}