.pagination > li > a, .pagination > li > span {
	border: none;
	color: $color-gray-2;
	opacity: 1;
	font-size: 12px;
	font-family: $font-page-title;
	font-weight: 700;
	background: none;
}
.pagination > li.active {
	> a,
	> span {
		color: #333 !important;
		opacity: 1;
		background-color: #eeeeee !important;
		border-color: #ddd !important;
	}
}