<div class="modal fade modal-add-matterisms" id="modal-add-matterisms" tabindex="-1" role="dialog" aria-labelledby="modal-add-matterismsLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modal-add-matterismsLabel">Add Matterisms to Post</h4>
        <span class="modal-icon"></span>
      </div>
      <div class="modal-body">
      	<h5>Type any words or phrases that will help others find and identify the topic of your post</h5>
      	<input type="text" class="form-control">
      	<p class="note">Separate matterisms with commas.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Add Matterisms</button>
      </div>
    </div>
  </div>
</div>
<!-- modal -->
<div class="modal fade modal-report" id="modal-report" tabindex="-1" role="dialog" aria-labelledby="modal-reportLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modal-reportLabel">Report This Post</h4>
        <span class="modal-icon"></span>
      </div>
      <div class="modal-body">
      	<h5>Why are you reporting this?</h5>
      	<ul class="list-unstyled list-choise">
      		{% for x in Array(5) %}	      		
      		<li>
      			<label>
      				<input type="radio" name="report">
      				<span class="text">
      				Lorem ipsum dolor sit amet.
      				</span>
      			</label>
      		</li>
      		{% endfor %}
      		<li>
      			<label>
      				<input type="radio" name="report">
      				<span class="text">
      				Other
      				</span>
      				<input type="text" class="form-control" placeholder="Please describe a reason">
      			</label>
      		</li>
      	</ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Submit Report</button>
      </div>
    </div>
  </div>
</div>
<!-- modal -->
<div class="modal fade modal-resolve" id="modal-resolve" tabindex="-1" role="dialog" aria-labelledby="modal-resolveLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modal-resolveLabel">Resolve Issue</h4>
        <span class="modal-icon"></span>
      </div>
      <div class="modal-body">
      	<div class="row">
      		<div class="col-sm-7">
      			<div class="single-item">
					<article class="item-article">
						<div class="item-article-header">
							<div class="user">
								<div class="user-avatar img-circle">
									<img src="https://placeholdit.imgix.net/~text?txtsize=22&txt=80%C3%9780&w=80&h=80" class="img-circle" alt="">
								</div>
								<div class="user-content">
									<span class="user-name text-green">Lorem ipsum.</span>
									posted in
									<span class="post-in-location">Lorem ipsum dolor.</span>
								</div>
							</div>
							<div class="item-time">
								<span>10 min ago</span>
							</div>
						</div>
						<!-- header -->
						<div class="item-article-body">
							<div class="item-article-media">
								<img src="https://placeholdit.imgix.net/~text?txtsize=22&txt=80%C3%9780&w=1200&h=695" alt="">
							</div>
							<div class="item-article-content">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, vero? 
								<span class="text-pink"> Lorem ipsum Lorem ipsum dolor.</span>
							</div>
						</div>
					</article>
					<section class="item-comment">
						<div class="item-comment-header">
							<span class="item-like"><a href="#" class="item-like-icon"></a>29 Wow's</span>
						</div>
						<div class="item-comment-body">
							<ul class="list-unstyled list-comment">
								<li>
									<div class="user">
										<div class="user-avatar img-circle">
											<img src="https://placeholdit.imgix.net/~text?txtsize=22&txt=80%C3%9780&w=80&h=80" class="img-circle" alt="">
										</div>
										<div class="user-content">
											<span class="user-name text-green">Lorem ipsum.</span>
											Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, necessitatibus!
										</div>
									</div>
								</li>
								<li>
									<div class="user">
										<div class="user-avatar img-circle">
											<img src="https://placeholdit.imgix.net/~text?txtsize=22&txt=80%C3%9780&w=80&h=80" class="img-circle" alt="">
										</div>
										<div class="user-content">
											<span class="user-name text-green">Lorem ipsum.</span>
											Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, necessitatibus!
										</div>
									</div>
								</li>
							</ul>
						</div>								
					</section>
				</div>
				<!-- single item -->
      		</div>
      		<div class="col-sm-5">
      			<ul class="list-unstyled infos">
      				<li>
      					<span class="info-label">issue</span>
      					<span class="info-title">Lorem ipsum dolor sit amet.</span>
      				</li>
      				<li>
      					<span class="info-label">issue</span>
      					<span class="info-title text-green">Lorem ipsum dolor sit amet.</span>
      				</li>
      				<li>
      					<span class="info-label">issue</span>
      					<span class="info-title text-green">Lorem ipsum dolor sit amet.</span>
      				</li>
      			</ul>
      			<div class="form-group clearfix your-action">
      				<label>Your action:</label>
  					<div class="dropdown m-dropdown">
					  <a id="dLabel" class="btn btn-default btn-block" data-target="#" href="http://example.com" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
					    <span class="value">Select</span>
					    <span class="caret"></span>
					  </a>
					  <ul class="dropdown-menu " aria-labell
					  edby="dLabel">
					    <li><a href="#">Delete Post</a></li>
					    <li><a href="#">Mark as Ok</a></li>						    
					  </ul>
					</div>	
      			</div>
      			<div class="form-group">
      				<textarea class="form-control" placeholder="Enter message to offender"></textarea>
      			</div>
      			<div class="form-group">
      				<textarea class="form-control" placeholder="Enter message to offender(s)"></textarea>
      			</div>
      			<p class="form-submit text-center">
      				<button type="button" class="btn btn-primary">Submit Report</button>
      			</p>
      		</div>
      	</div>
      </div>
      <div class="modal-footer">
        
      </div>
    </div>
  </div>
</div>
<!-- modal -->
<div class="modal fade modal-confirm" id="modal-confirm" tabindex="-1" role="dialog" aria-labelledby="modal-confirmLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modal-confirmLabel">Confirm this Action</h4>
        <span class="modal-icon"></span>
      </div>
      <div class="modal-body">
      	<h5>Are you sure you want to live this group?</h5>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary btn-cancel" data-dismiss="modal" aria-label="Close">Cancel</button>
        <button class="btn btn-primary">Quit this Group</button>
      </div>
    </div>
  </div>
</div>
<!-- modal -->
<div class="modal fade modal-group-member" id="modal-group-member" tabindex="-1" role="dialog" aria-labelledby="modal-group-memberLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modal-group-memberLabel">MoM's</h4>
        <span class="modal-icon"></span>
      </div>
      <div class="modal-body">
      	<ul class="list-group-member list-unstyled">
      		{% for x in Array(10) %}
      		<li class="item clearfix">
  				<div class="user">
					<div class="user-avatar img-circle">
						<img src="https://placeholdit.imgix.net/~text?txtsize=22&amp;txt=80%C3%9780&amp;w=80&amp;h=80" class="img-circle" alt="">
					</div>
					<div class="user-content">
						<span class="user-name text-green">Lorem ipsum.</span>
						<span class="user-time">7 Months</span>
						<span class="user-description">Lorem ipsum dolor.</span>
					</div>
				</div>
      		</li>
      		{% endfor %}
      	</ul>
      	<div class="text-right">
      		{% include "../component/pagination.html" %}
      	</div>
      	
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
<!-- modal -->

<div class="modal fade modal-matterisms" id="modal-matterisms" tabindex="-1" role="dialog" aria-labelledby="modal-matterismsLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modal-matterismsLabel">Matterisms</h4>
        <span class="modal-icon"></span>
      </div>
      <div class="modal-body">
        <ul class="list-item list-unstyled">
          {% for x in Array(10) %}
          <li class="item clearfix">
            <a href="#">
              <span  class="item-title">Mom life</span>
              <span class="item-number">2600 Posts</span>  
            </a>            
          </li>
          {% endfor %}
        </ul>
        <div class="text-right">
          {% include "../component/pagination.html" %}
        </div>
        
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
<!-- modal -->
<div class="modal fade modal-confirm-signup" id="modal-confirm-signup" tabindex="-1" role="dialog" aria-labelledby="modal-confirm-signupLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modal-confirm-signupLabel">We're glad you are here, jenny Solo!</h4>
        <span class="modal-icon"></span>
      </div>
      <div class="modal-body">
        <p>MommaMatters.com offers the space to share, support, and socialize via groups run by moms like you! you'll be able to choose from thousands of groups that speak to your issues, challenges and interests and take comfort in knowing that you can share thoughts freely without judgement or worry.</p>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-primary">Get Started</a>
      </div>
    </div>
  </div>
</div>
<!-- modal -->

<div class="modal fade modal-add-post" id="modal-add-post" tabindex="-1" role="dialog" aria-labelledby="modal-add-postLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modal-add-postLabel">Edit This Post</h4>
        <span class="modal-icon"></span>
      </div>
      <div class="modal-body">
          <div class="single-item">
            <article class="item-article">
              <div class="item-article-header">
                <div class="user">
                  <div class="user-avatar img-circle">
                    <img src="https://placeholdit.imgix.net/~text?txtsize=22&txt=80%C3%9780&w=80&h=80" class="img-circle" alt="">
                  </div>
                  <div class="user-content">
                    <span class="user-name text-green">Lorem ipsum.</span>
                    posted in
                    <span class="post-in-location">Lorem ipsum dolor.</span>
                  </div>
                </div>
                <div class="item-time">
                  <span>10 min ago</span>
                </div>
              </div>
              <!-- header -->
              <div class="item-article-body">
                <div class="item-article-media">                  
                  <img src="https://placeholdit.imgix.net/~text?txtsize=22&txt=80%C3%9780&w=1200&h=695" alt="">
                    <span class="btn btn-primary btn-edit"><i class="fa fa-pencil"></i>Change Image</span>
                  
                </div>
                <div class="item-article-content">
                    <textarea class="form-control">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, vero?</textarea>
                </div>
              </div>
            </article>
          </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary">Save Changes</button>
      </div>
    </div>
  </div>
</div>
<!-- modal -->