.m-dropdown {
	.dropdown-menu {
		margin-top: 10px;
		padding: 10px;
		text-align: center;
		transition: all .3s;
		display: block;
		opacity: 0;
		transform: scale(.01);
		left: 50%;
		margin-left: -80px;
		> li {
			border-top: 1px solid $color-border;
			&:first-child {
				border-top: none;
			}
			> a {
				padding: 5px 10px;
			}
		}
		&:before {
			content: '';
			width: 0;
			height: 0;
			border-left: 4px solid transparent;
			border-right: 4px solid transparent;
			border-bottom: 9px solid #fff;
			position: absolute;
			right: 50%;
			margin-right: -4px;
			top: -8px;
			z-index: 2;
		}
		&:after {
			content: '';
			width: 0;
			height: 0;
			border-left: 6px solid transparent;
			border-right: 6px solid transparent;
			border-bottom: 10px solid $color-border;
			position: absolute;
			right: 50%;
			margin-right: -6px;
			top: -10px;
			z-index: 1;
		}
	}
	&.open {
		.dropdown-menu {
			z-index: 1;
			opacity: 1;
			transform: scale(1);
		}
	}
	.btn-default:hover,
	.btn-default:focus {
		background: #fff;
		border-color: #ccc;
	}	
	.caret {
		position: absolute;
		right: 10px;
		top: 15px;
		border-top: 4px solid $color-border;
	}
}