.modal-title {
	color: $color-green;
	font-weight: 600;
	font-size: $font-18;
	text-align: center;
}
.modal-footer {
	text-align: center;
	border-top: none;
	padding: 0 15px 30px;
}
.modal-body {
	padding: 15px 35px;
}
.modal-header {
	border-bottom: none;
	position: relative;
	padding-top: 50px;
	padding-bottom: 0;
	.close {
		color: $color-pink;
		font-size: 24px;
		opacity: 1;
		position: absolute;
		top: 10px;
		right: 10px;
		margin: 0;
		width: 34px;
		height: 34px;
		text-align: center;
		line-height: 34px;

	}
	.modal-icon {
		display: block;
		background: #fff;
		width: 80px;
		height: 80px;
		border-radius: 50%;
		position: absolute;
		top: -40px;
		left: 50%;
		margin-left: -40px;
		box-shadow: 0 5px 5px #ddd;
	}
}