{% extends "../layouts/master.html" %}
{% block title_page %}Home{% endblock %}
{% block body_class %}about-page sub-page{% endblock %}

{% block main_col %}
	<div class="container">
		<div class="row">
			<div class="col-md-2 col-sm-3 sidebar sidebar-left">
				<h2 class="page-title">About Us</h2>
				<div class="widget widget_nav_menu">
					<ul class="menu">
						<li><a href="#">The team</a></li>
						<li><a href="#">Contact Us</a></li>
					</ul>
				</div>
			</div>
			<!-- sidebar left -->
			<div class="col-md-8 col-sm-9 ">
				<ul class="breadcrum">
					<li><a href="#">HOME </a></li>
					<li>the team</li>
				</ul>
				<div class="main-col">					
					<div class="widget widget-team">
						<h3 class="widget-title">the team</h3>
						<div class="widget-content">
							<ul class="list-unstyled list-item">
								<li class="item clearfix">
									<div class="item-thumb">
										<img src="assets/images/user-2.png" alt="">
									</div>
									<div class="item-content">
										<h4>David Bowden - Chief Executive Officer</h4>
										<p>David Bowden is responsible for the execution of the Colliers’ national business strategy while working in conjunction with other regional leaders within Colliers. Known for his innovative business perspective, David is committed to accelerating the success of Colliers International in Canada by successfully advancing our competitiveness in all 17 markets we serve</p>
									</div>
								</li>
								<li class="item  clearfix">
									<div class="item-thumb">
										<img src="assets/images/user-3.png" alt="">
									</div>
									<div class="item-content">
										<h4>David Bowden - Chief Executive Officer</h4>
										<p>David Bowden is responsible for the execution of the Colliers’ national business strategy while working in conjunction with other regional leaders within Colliers. Known for his innovative business perspective, David is committed to accelerating the success of Colliers International in Canada by successfully advancing our competitiveness in all 17 markets we serve</p>
									</div>
								</li>
								<li class="item  clearfix">
									<div class="item-thumb">
										<img src="assets/images/user-4.png" alt="">
									</div>
									<div class="item-content">
										<h4>David Bowden - Chief Executive Officer</h4>
										<p>David Bowden is responsible for the execution of the Colliers’ national business strategy while working in conjunction with other regional leaders within Colliers. Known for his innovative business perspective, David is committed to accelerating the success of Colliers International in Canada by successfully advancing our competitiveness in all 17 markets we serve</p>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<!-- form contact -->
				</div>
			</div>
			<!-- main col -->
			<div class="col-md-2 col-xs-12 sidebar sidebar-right">
				<div class="widget widget-info">
					<h3 class="widget-title">CENTURY 21 EMAX Real Estate Consultants LLP </h3>
					<div class="widget-content">
						<ul>
							<li>CEA Lic.No : L3009828I</li>
							<li>Registered Business Address:  <span class="strong">10 Anson Road, #10-11, Singapore 079903</span></li>
							<li><i class="fa fa-phone"></i>Phone: <span class="strong">(+65) 6100-1199</span></li>
							<li><i class="fa fa-envelope-o"></i>Email: <span class="strong">enquiry@rentrent.com.sg</span></li>
							<li><i class="fa fa-globe"></i>Website: <span class="strong">www.rentrent.com.sg</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
