{% extends "../layouts/master.html" %}
{% block title_page %}Home{% endblock %}
{% block body_class %}single-page blog-page  sub-page{% endblock %}

{% block main_col %}
	<div class="container">
		<div class="row">
			<div class="col-md-2 col-sm-3 sidebar sidebar-left">
				<h2 class="page-title">blog</h2>
				<div class="widget widget_categories">
					<h4 class="widget-title">Blog Categories</h4>
					<ul >
						{% for x in Array(5) %}
						<li><i class="fa fa-arrow-right"></i> <a href="#">categories 1</a> (1)</li>
						{% endfor %}
					</ul>
				</div>
			</div>
			<!-- sidebar left -->
			<div class="col-md-7 col-sm-9 ">
				<ul class="breadcrum">
					<li><a href="#">HOME </a></li>
					<li>blog</li>
				</ul>
				<div class="main-col">					
					<div class="single-content">
						<h1 class="entry-title">Silence is the most powerful scream</h1>
						<div class="clearfix metadata-share">
							<div class="entry-metadata">
								<span class="entry-meta-time">December 16, 2014</span>
								<span class="entry-meta-user">By <a href="#">Admin</a></span>
							</div>
							<div class="share-print">
								<a class="fa fa-share-alt"></a>
								<a href="javascript:window.print()" class="fa fa-print"></a>
							</div>
						</div>
						
						<div class="entry-content">
							<p><i>An Extended Member Of Your Team Managing Your Commercial Real Estate Needs</i></p>
							<p>We have well established relationships with many international brokerage companies and realtors as long term strategic partners and we are always interested in developing new relationships.</p>
							<p>Occasionally Broker/Realtors will have a client who wishes to invest Singapore. Overseas Real Estate Broker/Realtor can refer a prospective client to us and receive a percentage of the commission out of the transaction.</p>
							<p>In 2015, our referral programme has expanded to professional referrals by attorneys, tax advisors, wealth managers, trustees and executors, private bankers, family office representatives, architects and builders throughout the world</p>
							<p>We adopt a flexible approach in the amount of referral fee pay out on a case to case basis. We welcome your proposal and will evaluate and respond to you in writing upon our acceptance. </p>
							<blockquote>Vestibulum id ligula porta felis euismod semper. Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper Vestibulum id ligula porta felis euismod semper. Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus</blockquote>
							<p>All inquiries are handled in confidence. We understand the importance of your privacy, and take seriously the trust you’re placing in us to protect it</p>
							<p>Talk to us today! Complete the contact form below, or, if you prefer to inquire by phone, please call Nic Ee, Executive Director, at <strong>(65) 9878 0077</strong>.  </p>
						</div>
					</div>
					<!-- single content -->					
				</div>
				<div class="widget widget-property">
					<h3 class="widget-title">Property Type</h3>
					<div class="widget-content clearfix">
						<div class="row">
							<div class="item col-sm-6">
								<div class="item-thumb">
									<a href="#">
									<img src="assets/images/4.png" alt="">
									</a>
								</div>
								<h4 class="item-title"><a href="#">Office Space</a></h4>
								<p class="item-content">Finding an office space in Singapore</p>
							</div>
							<div class="item col-sm-6">
								<div class="item-thumb">
									<a href="#">
									<img src="assets/images/5.png" alt="">
									</a>
								</div>
								<h4 class="item-title"><a href="#">Office Space</a></h4>
								<p class="item-content">Finding an office space in Singapore</p>
							</div>
							<div class="item col-sm-6">
								<div class="item-thumb">
									<a href="#">
									<img src="assets/images/6.png" alt="">
									</a>
								</div>
								<h4 class="item-title"><a href="#">Office Space</a></h4>
								<p class="item-content">Finding an office space in Singapore</p>
							</div>
							<div class="item col-sm-6">
								<div class="item-thumb">
									<a href="#">
									<img src="assets/images/7.png" alt="">
									</a>
								</div>
								<h4 class="item-title"><a href="#">Office Space</a></h4>
								<p class="item-content">Finding an office space in Singapore</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- main col -->
			<div class="col-md-3 col-xs-12 sidebar sidebar-right">
				<div class="widget widget-lastest-post">
					<h4 class="widget-title">Lastest post</h4>
					<div class="widget-content">
						<ul class=" list-unstyled">
							{% for x in Array(5) %}
							<li class="item clearfix">
								<a href="#" class="item-thumbnail">
									<img src="https://placeholdit.imgix.net/~text?txtsize=22&txt=60%C3%9780&w=60&h=60" alt="">
								</a>
								<div class="item-content">
									<h4 class="item-title"><a href="#">Lorem ipsum dolor sit.</a></h4>
									<p class="item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, soluta!</p>
								</div>
							</li>
							{% endfor %}
						</ul>
					</div>
				</div>
				<div class="widget widget_tag_cloud">
					<h4 class="widget-title">Tags Cloud</h4>
					<div class="tagcloud">
						<a href="#">#Furniture</a>
						<a href="#">#DEmo</a>
						<a href="#">#deco</a>
						<a href="#">#people</a>
						<a href="#">#Furniture</a>
						<a href="#">#DEmo</a>
						<a href="#">#deco</a>
						<a href="#">#people</a>
						<a href="#">#Furniture</a>
						<a href="#">#DEmo</a>
						<a href="#">#deco</a>
						<a href="#">#people</a>
					</div>
				</div>
				<div class="widget widget-social">
					<h4 class="widget-title">Social</h4>
					<div class="widget-content">
						<a href="#" class="fb">facebook</a>
						<a href="#" class="tw">twitter</a>
						<a href="#" class="yu">youtube</a>
						<a href="#" class="gg">Google</a>
					</div>
				</div> 
				<div class="widget widget-form-contact-2 widget-subcribe">
					<h4 class="widget-title">Subcribe</h4>
					<div class="widget-content">
						<form action="/">									
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Email">
							</div>	
							<div class="form-submit">
								<button class="btn btn-primary btn-block">subcribe</button>
							</div>
						</form>
					</div>
				</div>
				<!-- form contact -->
			</div>
		</div>
	</div>
{% endblock %}
