{% extends "../layouts/master.html" %}
{% block title_page %}Home{% endblock %}
{% block body_class %}blog-page  sub-page{% endblock %}

{% block main_col %}
	<div class="container">
		<div class="row">
			<div class="col-md-2 col-sm-3 sidebar sidebar-left">
				<h2 class="page-title">blog</h2>
				<div class="widget widget_nav_menu">
					<ul class="menu">
						<li class="current-item-menu"><a href="#">categories 1</a></li>
						<li><a href="#">categories 1</a></li>
						<li><a href="#">categories 1</a></li>
						<li><a href="#">categories 1</a></li>
						<li><a href="#">categories 1</a></li>
					</ul>
				</div>
				.widget
			</div>
			<!-- sidebar left -->
			<div class="col-md-8 col-sm-9 ">
				<ul class="breadcrum">
					<li><a href="#">HOME </a></li>
					<li>blog</li>
				</ul>
				<div class="main-col">					
					<div class="wrap-list-item">
						<div class="list-item">
							{% set array =[1,2,3] %}
							{% for x in array %}
							<div class="row ">
								<div class="col-xs-12 col-md-6 item">
									<a href="#" class="item-thumb">
										<img src="assets/images/8.png" alt="">
									</a>
									<p class="item-metadata"><span class="item-metadata-time">December 16, 2014</span></p>
									<h4 class="item-title"><a href="#">Silence is the most powerful scream</a></h4>
									<p class="item-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo quae, porro it consequatur delectus adipisci nam fugit eum incidunt maiores? Vitae doloremque reprehenderit corporis cumque vero harum</p>
								</div>
								<div class="col-xs-12 col-md-6 item">
									<a href="#" class="item-thumb">
										<img src="assets/images/8.png" alt="">
									</a>
									<p class="item-metadata"><span class="item-metadata-time">December 16, 2014</span></p>
									<h4 class="item-title"><a href="#">Silence is the most powerful scream</a></h4>
									<p class="item-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo quae, porro it consequatur delectus adipisci nam fugit eum incidunt maiores? Vitae doloremque reprehenderit corporis cumque vero harum</p>
								</div>
							</div>
							{% endfor %}
						</div>
						<div class="load-more">
							<a href="#">Load more</a>
						</div>
					</div>
				</div>
			</div>
			<!-- main col -->
			<div class="col-md-2 col-xs-12 sidebar sidebar-right">
				<div class="widget widget_tag_cloud">
					<h4 class="widget-title">Tags Cloud</h4>
					<div class="tagcloud">
						<a href="#">#Furniture</a>
						<a href="#">#DEmo</a>
						<a href="#">#deco</a>
						<a href="#">#people</a>
						<a href="#">#Furniture</a>
						<a href="#">#DEmo</a>
						<a href="#">#deco</a>
						<a href="#">#people</a>
						<a href="#">#Furniture</a>
						<a href="#">#DEmo</a>
						<a href="#">#deco</a>
						<a href="#">#people</a>
					</div>
				</div>
				<div class="widget widget-social">
					<h4 class="widget-title">Social</h4>
					<div class="widget-content">
						<a href="#" class="fb">facebook</a>
						<a href="#" class="tw">twitter</a>
						<a href="#" class="yu">youtube</a>
						<a href="#" class="gg">Google</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
