{% extends "../layouts/master.html" %}
{% block title_page %}Home{% endblock %}
{% block body_class %}contact-page sub-page{% endblock %}

{% block main_col %}
	<div class="container">
		<div class="row">
			<div class="col-md-2 col-sm-3 sidebar sidebar-left">
				<div class="widget widget_nav_menu">
					<ul class="menu">
						<li><a href="#">About Us</a></li>
						<li><a href="#">The team</a></li>
						<li><a href="#">Contact Us</a></li>
					</ul>
				</div>
			</div>
			<!-- sidebar left -->
			<div class="col-md-8 col-sm-9 ">
				<ul class="breadcrum">
					<li><a href="#">HOME </a></li>
					<li>Contact us</li>
				</ul>
				<div class="main-col">					
					<div class="widget widget-form-contact">
						<h3 class="widget-title">Get In Touch With Us</h3>
						<div class="widget-content">
							<form action="/">
								<div class="row">
									<div class="col-sm-6">
										<div class="form-group">
											<label for="">Your name <span class="require">(*)</span></label>
											<input type="text" class="form-control">
										</div>		
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<label for="">Email <span class="require">(*)</span></label>
											<input type="text" class="form-control" placeholder="email@yoursite.com">
										</div>		
									</div>
								</div>
								<div class="row">
									<div class="col-sm-6">
										<div class="form-group">
											<label for="">Your location <span class="require">(*)</span></label>
											<input type="text" class="form-control" placeholder="Singapore">
										</div>		
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<label for="">Your Contact</label>
											<input type="text" class="form-control" placeholder="+65">
										</div>		
									</div>
								</div>
								<div class="form-group">
									<label for="">Subject</label>
									<input type="text" class="form-control">
								</div>
								<div class="form-group">
									<label for="">Your message <span class="require">(*)</span></label>
									<textarea class="form-control" placeholder="Message"></textarea>
								</div>
								<div class="form-submit">
									<button class="btn btn-primary">send</button>
								</div>
							</form>
						</div>
					</div>
					<!-- form contact -->
				</div>
			</div>
			<!-- main col -->
			<div class="col-md-2 col-xs-12 sidebar sidebar-right">
				<div class="widget widget-info">
					<h3 class="widget-title">CENTURY 21 EMAX Real Estate Consultants LLP </h3>
					<div class="widget-content">
						<ul>
							<li>CEA Lic.No : L3009828I</li>
							<li>Registered Business Address:  <span class="strong">10 Anson Road, #10-11, Singapore 079903</span></li>
							<li><i class="fa fa-phone"></i>Phone: <span class="strong">(+65) 6100-1199</span></li>
							<li><i class="fa fa-envelope-o"></i>Email: <span class="strong">enquiry@rentrent.com.sg</span></li>
							<li><i class="fa fa-globe"></i>Website: <span class="strong">www.rentrent.com.sg</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
