{% extends "../layouts/master.html" %}
{% block title_page %}Home{% endblock %}
{% block body_class %}home-page{% endblock %}

{% block main_col %}
	<div class="widget widget-home">
		<div class="owl-carousel">
			<div class="item">
				<img src="assets/images/1.png" alt="">
			</div>
			<div class="item">
				<img src="assets/images/1.png" alt="">

			</div>
			<div class="item">
				<img src="assets/images/1.png" alt="">
			</div>
		</div>
		<div class="wrap-content">
			<div class="container">
				<div class="text">
					<h3 class="text-1">The Extraordinary </h3>
					<h2 class="text-2">Real Estate Service</h2>
					<p class="text-3">Connecting Singapore’s Real Estate with Businesses and International High NetWorth Individuals to Meet Their Real Estate Needs</p>
				</div>
				<div class="list clearfix">
					<div class="item item-green">
						<h3 class="item-title">Corporate Real Estate Services </h3>
						<p class="item-content">Services for corporates seeking to expand or relocate their businesses in Singapore </p>					
						<div class="clearfix">
							<a href="#" class="read-more">Read More</a>	
						</div>
					</div>
					<div class="item item-blue">
						<h3 class="item-title">Global HNWI Services</h3>
						<p class="item-content">Services for international high net-worth individuals and new residents finding investment</p>
						<div class="clearfix">
							<a href="#" class="read-more">Read More</a>
						</div>
					</div>
				</div>
			</div>	
		</div>
	</div>
{% endblock %}
