{% extends "../layouts/master.html" %}
{% block title_page %}Home{% endblock %}
{% block body_class %}single-page  sub-page{% endblock %}

{% block main_col %}
	<div class="container">
		<div class="row">
			<div class="col-md-2 col-sm-3 sidebar sidebar-left">
				<h2 class="page-title">Referral Programme & Partnership</h2>
				<div class="widget widget_nav_menu">
					<ul class="menu">
						<li><a href="#">About Us</a></li>
						<li><a href="#">The team</a></li>
						<li><a href="#">Contact Us</a></li>
					</ul>
				</div>
			</div>
			<!-- sidebar left -->
			<div class="col-md-8 col-sm-9 ">
				<ul class="breadcrum">
					<li><a href="#">HOME </a></li>
					<li>Referral Programme & Partnership</li>
				</ul>
				<div class="main-col">					
					<div class="single-content">
						<h1 class="entry-title">Great Referrals Get Great Rewards</h1>
						<div class="entry-content">
							<p>We have well established relationships with many international brokerage companies and realtors as long term strategic partners and we are always interested in developing new relationships.</p>
							<p>Occasionally Broker/Realtors will have a client who wishes to invest Singapore. Overseas Real Estate Broker/Realtor can refer a prospective client to us and receive a percentage of the commission out of the transaction.</p>
							<p>In 2015, our referral programme has expanded to professional referrals by attorneys, tax advisors, wealth managers, trustees and executors, private bankers, family office representatives, architects and builders throughout the world</p>
							<p>We adopt a flexible approach in the amount of referral fee pay out on a case to case basis. We welcome your proposal and will evaluate and respond to you in writing upon our acceptance. </p>
							<p>All inquiries are handled in confidence. We understand the importance of your privacy, and take seriously the trust you’re placing in us to protect it</p>
							<p>Talk to us today! Complete the contact form below, or, if you prefer to inquire by phone, please call Nic Ee, Executive Director, at <strong>(65) 9878 0077</strong>.  </p>
						</div>
					</div>
					<!-- single content -->
					<div class="widget widget-form-contact">
						<h3 class="widget-title">Get In Touch With Us</h3>
						<div class="widget-content">
							<form action="/">
								<div class="row">
									<div class="col-sm-6">
										<div class="form-group">
											<label for="">Your name <span class="require">(*)</span></label>
											<input type="text" class="form-control">
										</div>		
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<label for="">Email <span class="require">(*)</span></label>
											<input type="text" class="form-control" placeholder="email@yoursite.com">
										</div>		
									</div>
								</div>
								<div class="row">
									<div class="col-sm-6">
										<div class="form-group">
											<label for="">Your location <span class="require">(*)</span></label>
											<input type="text" class="form-control" placeholder="Singapore">
										</div>		
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<label for="">Your Contact</label>
											<input type="text" class="form-control" placeholder="+65">
										</div>		
									</div>
								</div>
								<div class="form-group">
									<label for="">Subject</label>
									<input type="text" class="form-control">
								</div>
								<div class="form-group">
									<label for="">Your message <span class="require">(*)</span></label>
									<textarea class="form-control" placeholder="Message"></textarea>
								</div>
								<div class="form-submit">
									<button class="btn btn-primary">send</button>
								</div>
							</form>
						</div>
					</div>
					<!-- form contact -->
					
				</div>
				<div class="share-post clearfix">
					<span class="label">Share this post</span>
					<ul class="list-unstyled">
						<li><a href="#" class="fa fa-twitter"></a></li>
						<li><a href="#" class="fa fa-facebook"></a></li>
						<li><a href="#" class="fa fa-pinterest"></a></li>
						<li><a href="#" class="fa fa-google-plus"></a></li>
						<li><a href="#" class="fa fa-linkedin"></a></li>
					</ul>
				</div>
			</div>
			<!-- main col -->
			<div class="col-md-2 col-xs-12 sidebar sidebar-right">
				<div class="widget widget-user">
					<div class="widget-content">
						<div class="avatar"><img src="assets/images/user.png" alt=""></div>
						<p class="user-name">Nic Ee</p>
						<p class="user-job">Executive Director</p>
						<div class="user-licence">
							<p>CEA Licence No</p>
							<p>L3009828I / P003414F</p>	
						</div>						
						<div class="user-contact">
							<p>Mobile: <span class="phone">(+65) 9878 0077</span></p>
							<p>nic@rentrent.com.sg</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
