{% extends "../layouts/master.html" %}
{% block title_page %}testimonial{% endblock %}
{% block body_class %}about-page sub-page{% endblock %}

{% block main_col %}
	<div class="container">
		<div class="row">
			<div class="col-md-2 col-sm-3 sidebar sidebar-left">
				<h2 class="page-title">About Us</h2>
				<div class="widget widget_nav_menu">
					<ul class="menu">
						<li><a href="#">The team</a></li>
						<li><a href="#">Contact Us</a></li>
					</ul>
				</div>
			</div>
			<!-- sidebar left -->
			<div class="col-md-8 col-sm-9 ">
				<ul class="breadcrum">
					<li><a href="#">HOME </a></li>
					<li>the team</li>
				</ul>
				<div class="main-col">	
					<div class="widget widget-testimonial">
						<h3 class="widget-title">Here's what others are saying:</h3>
						<div class="widget-content">
							<ul class="list-item list-unstyled">
								{% for x in Array(3)%}
								<li class="item">
									<i class="fa fa-quote-left item-icon"></i>
									<p class="item-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea esse fuga dolorum atque. Eius qui sed inventore fugit esse maiores.</p>
									<div class="clearfix">
										<div class="pull-right">
											<span class="item-avatar"><img src="https://placeholdit.imgix.net/~text?txtsize=22&txt=80%C3%9780&w=80&h=80" alt=""></span>
											<h4 class="item-title">- Lorem ipsum dolor sit amet.</h4>
											<a href="http://google.com" class="item-link">http://google.com</a>
										</div>
									</div>
								</li>
								{% endfor %}	
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- main col -->
			<div class="col-md-2 col-xs-12 sidebar sidebar-right">
				<div class="widget widget-info">
					<h3 class="widget-title">CENTURY 21 EMAX Real Estate Consultants LLP </h3>
					<div class="widget-content">
						<ul>
							<li>CEA Lic.No : L3009828I</li>
							<li>Registered Business Address:  <span class="strong">10 Anson Road, #10-11, Singapore 079903</span></li>
							<li><i class="fa fa-phone"></i>Phone: <span class="strong">(+65) 6100-1199</span></li>
							<li><i class="fa fa-envelope-o"></i>Email: <span class="strong">enquiry@rentrent.com.sg</span></li>
							<li><i class="fa fa-globe"></i>Website: <span class="strong">www.rentrent.com.sg</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
