<!DOCTYPE html>
<html lang="en" class="js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">
	<title>{% block title_page %}{% endblock %}</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">	
	<link href="http://allfont.net/allfont.css?fonts=montserrat-light" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="assets/css/app.css">
</head>
<body class="{% block body_class %}home-page{% endblock %}">
	<div id="page">	
		{% include "../partials/header.html" %}
		<section id="main-content" >
			{% block main_col %}{% endblock %}		
		</section>
		{% include "../partials/footer.html" %}
	</div>
	{% block after_footer_page %}{% endblock %}
	<script src="assets/js/libs.js"></script>
	<script src="assets/js/app-custom.js"></script>
</body>
</html>