<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">
	<title>{% block title_page %}{% endblock %}</title>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Quicksand:700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="assets/css/app.css">
</head>
<body class="{% block body_class %}signin-page{% endblock %}">
	<header id="page-header">
		<div class="container">
			<div id="main-logo" class="pull-left">				
				<a href="home.html">
					<img src="assets/images/logo-white.png" alt="Momma Matters">
				</a>
			</div>
			{% block btn_signin %}{% endblock %}
		</div>
	</header>
	<div class="container">
		{% block main_col %}{% endblock %}
	</div>
	<script src="assets/js/libs.js"></script>
	<script src="assets/js/app-custom.js"></script>
</body>
</html>