.widget-team {
	.widget-title {
		font-size: 18px;
	    text-transform: uppercase;
	    margin-top: 0;
	    margin-bottom: 10px;
	    color: #001732;

	}
	.item {
		margin-top: 15px;
		&:first-child {
			margin-top: 0;
		}
	}
	.item-thumb {
		margin-bottom: 15px;
		margin-right: 30px;
		img {
			width: 135px;
			height: auto;
		}
	}
	.item-content {
		
		color: #535353;
		h4 {
			margin-top: 0;
			color: #535353;
		}
		p {
			font-family: $font-light;
		}
	}
}
@media (min-width: 1050px) {
	.widget-team {
		.widget-title {
			font-size: 24px;
    		margin-bottom: 25px;
		}
		.item {
			margin-top: 30px;
			&:first-child {
				margin-top: 0;
			}
		}
	}
}
@media (min-width: 768px) {
	.widget-team {
		.item-thumb {
			float: left;
			margin-bottom: 0;
		}
		.item-content {
			overflow: hidden;
		}
	}
}