.single-content {
	.entry-metadata {
		color: #a4a4a4;
		span {
			margin-right: 20px;
			display: inline-block;
		}
		a {
			color: #a4a4a4;			
			&:hover {
				text-decoration: underline;	
			}
		}
	}
	.share-print {
		a {
			color: #a4a4a4;	
			display: inline-block;
			margin: 0 5px;
			cursor: pointer;
		}
	}
}
.widget-lastest-post {
	.item {
		border-top: 1px solid #ddd;
		padding-top: 10px;
		padding-bottom: 10px;
		&:first-child {
			border-top: none;
			padding-top: 0;
		}
	}
	.item-thumbnail {
		width: 100%;
		height: auto;
		margin-bottom: 10px;
		display: block;
		img {
			display: block;
			width: 100%;
			height: auto;
		}
	}
	.item-title {
		margin-top: 0;
		a {
			color: $color-yellow;
		}
	}
	.item-description {
		margin-bottom: 0;
	}
}
@media (min-width: 1050px) {
	
	.sub-page{
		&.blog-page{
			&.single-page {
				.main-col {
					padding-top: 15px;
				}
				.single-content {
					.entry-title {
						margin-top: 35px;
					}
					.metadata-share {
						margin-bottom: 30px;
					}
				}
			}
		}
	}
}
@media (min-width: 768px) {
	.single-content {
		.entry-metadata {
			float: left;
		}
		.share-print {
			float: right;
		}
	}
	.sub-page{
		&.blog-page{
			&.single-page {
				.single-content {
					.entry-title {
						margin-top: 15px;
						margin-bottom: 15px;
					}
					.metadata-share {
						margin-bottom: 15px;
					}
				}
			}
		}
	}
}

@media print {
	#page-header,
	#menu,
	#page-footer,
	.sidebar-left,
	.sidebar-right,
	.breadcrum,
	.share-print,
	.widget {
		display: none;
	}
	.row > div {
		width: 100% !important;
	}
	.entry-metadata {
		margin-bottom: 20px;
	}
}