.blog-page {
	.list-item {
		.item {
			margin-bottom: 20px;
			overflow: hidden;
		}
		.item-thumb {
			display: block;
			margin-bottom: 10px;
			img {
				display: block;
				max-width: 100%;
			}
		}
		.item-metadata {
			font-family: $font-light;
			color: #a4a4a4;
		}
		.item-title {
			font-family: $font-page-title;
			font-weight: 700;
			font-size: 16px;
			margin-top: 0;
			margin-bottom: 5px;
			a {
				color: #4f4f4f;
				&:hover{
					text-decoration: underline;
				}
			}
		}
		.item-content {
			color: #4f4f4f;
			margin-bottom: 0;		
		}
	}
	.load-more {
		text-align: center;
		> a {
			font-family: $font-light;
			display: inline-block;
			color: #cccccc;
			line-height: 25px;
			padding-left: 30px;
			background: url('../images/load-more.png') no-repeat;
		}
	}
}
.widget_tag_cloud {
	.tagcloud {
		a {
			font-size: 12px;
			font-family: $font-light;
			text-transform: uppercase;
			color: #484848;
			margin-right: 10px;
			margin-bottom: 5px;
			display: inline-block;			
			&:hover {
				text-decoration: underline;	
			}
		}
	}
}
.widget-social {
	.widget-content {
		a {
			font-size: 12px;
			font-family: $font-light;
			text-transform: uppercase;
			margin-right: 10px;
			margin-bottom: 5px;
			display: inline-block;
			&:hover {
				text-decoration: underline;	
			}
		}
		.fb {
			color: #34609b;
		}
		.tw {
			color: #07aad3;
		}
		.yu {
			color: #ea0000;
		}
		.gg {
			color: #d524c2;
		}
	}
}
.sidebar-left {
	display: none;
}
.list-append {
	.item-thumb {
		img {
			width: 100%;
		}
	}
	@media (min-width: 640px) and (max-width: 1023px) {
		.item-thumb {
			float: left;
			width: 25%;
			margin-right: 15px;
		}
	}
}
@media (min-width: 1024px) {	
	.sidebar-left {
		display: block;
	}
	.blog-page {
		.list-item {
			.item {
				margin-bottom: 35px;
			}
		}
	}
}
@media (min-width: 1050px) {
	.sub-page {
		&.blog-page {
			.main-col {
				padding-top: 53px;
			}	
		}
	}
}