.widget-form-contact {	
	.widget-title {
		font-size: 18px;
		text-transform: uppercase;
		margin-top: 0;
		margin-bottom: 10px;
		color: #001732;
	}
	label {
		color: #001732;
		text-transform: uppercase;
		font-weight: 400;
		.require {
			color: #ff5400;
		}
	}
	.form-group {
		margin-bottom: 15px;
	}
	.form-control {
		height: 32px;
		border-radius: 0;
		font-family: $font-light;
	}
	textarea.form-control {
		height: 150px;
	}
	.btn-primary {
		background: #f0b310;
		border-color: #f0b310;
		text-transform: uppercase;
		border-radius: 0;
	}
	
}	

.sub-page {
	#main-content {
		padding-top: 10px;
	}
	.main-col {
		border-top: 5px solid $color-yellow;	
		padding-top: 20px;	
	}	
	#page-footer {
		margin-top: 20px;
	}
}

.breadcrum {
	list-style: none;
	padding-left: 0;
	font-size: 12px;
	font-family: $font-light;
	overflow: hidden;
	li {
		float: left;
		text-transform: uppercase;
		&:after {
			display: inline-block;
			  font: normal normal normal 14px/1 FontAwesome;
			  font-size: inherit;
			  text-rendering: auto;
			  -webkit-font-smoothing: antialiased;
			  -moz-osx-font-smoothing: grayscale;
			  content: "\f105";
			  color: #92a5c7;
			  font-size: 14px;
			  margin: 0 5px;
		}
		&:last-child {
			&:after {
				content: '';
			}
		}
	}
	a {
		color: #92a5c7;
	}
}
.sidebar {	
	&.sidebar-right {
		margin-top: 20px;
	}
	.widget-title {
		font-size: 18px;
		margin-bottom: 20px;
	}
	.widget_nav_menu,
	.widget_categories {
		.menu, > ul {
			list-style: none;
			padding-left: 0;
			text-transform: uppercase;
		}
		li {
			margin-bottom: 10px;
		}
		a {
			color: #001732;
			font-size: 12px;
			font-family: $font-light;
			display: block;
			padding: 5px 0;
		}
		.current-item-menu {
			font-weight: 700;
			font-family: $font-page-title;
			> a {
				position: relative;
				&:before {
					content:'';
					width: 2px;
					height: 100%;
					background: #001732;
					position: absolute;
					right: -15px;
					top: 0;
				}
			}
		}
	}
	.widget_categories {
		li {
			color: #4f4f4f;
			margin: 0;
			padding-top: 10px;
			padding-bottom: 10px;
			border-top: 1px solid #ddd;
			&:first-child {
				padding-top: 0;
				border-top: none;
			}
		}
		a {
			color: $color-yellow;
			display: inline-block;
		}
	}

	.widget-info {
		font-family: $font-light;
		.widget-title {			
			font-size: 14px;
			border-bottom: 2px solid $color-yellow;
			color: $color-yellow;
			padding-bottom: 10px;
			margin-bottom: 15px;
			margin-top: 0;
		}
		ul {
			padding-left: 0;
			list-style: none;
		}
		li {
			margin-bottom: 10px;
			color: #5f5f5f;
		}
		.strong {
			font-family: $font-page-title;
			display: block;
		}
		.fa {
			margin-right: 5px;
		}
	}
}
@media (min-width: 1050px) {
	.sub-page {
		#main-content {
			background: url(../images/3.png) no-repeat center -65px;
			padding-top: 170px;
		}
		.main-col {
			background: #f6f7fa;
			padding: 25px 25px 25px;	
		}
		.sidebar {
			margin-top: 100px;
		}
		#page-footer {
			margin-top: 60px;
		}
	}
	.sidebar {
		&.sidebar-left {
			padding-right: 0;
		}
		&.sidebar-right {
			padding-left: 0;
		}
		.widget-info {
			.widget-title {			
				font-size: 18px;
				line-height: 1.4;
				padding-bottom: 15px;
				margin-bottom: 25px;
			}
			li {
				margin-bottom: 25px;
			}
			.fa {
				margin-right: 5px;
			}
		}
	}
	.breadcrum {
		li {
			color: #fff;
		}
	}
	.widget-form-contact {	
		.widget-title {
			font-size: 24px;
			margin-bottom: 25px;
		}
		.form-control {
			height: 46px;
		}
		.form-group {
			margin-bottom: 25px;
		}
		.btn-primary {
			font-size: 20px;
			padding: 10px 45px;
		}
		.form-submit {
			margin-top: 30px;
		}
	}
}