.widget-home {
	color: #fff;
	position: relative;
	.wrap-content {
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 3;
	}
	.container {
		position: relative;	
		height: 100%;
	}	
	.text {
		text-align: center;
		.text-1 {			
			font-family: $font-light;
			text-transform: uppercase;
		}
		.text-2 {
			font-family: $font-light;
			text-transform: uppercase;
		}
		.text-3 {
			font-family: $font-family;
		}
	}
	.list {
		position: absolute;			
		bottom: 0;
		left: 0;
		.item {
			padding: 10px;
			&.item-green {
				background: #77ba2f;
			}
			&.item-blue {
				background: #00b0f0;
			}
			.item-title {
				margin-top: 0;
				font-size: 20px;
			}
			.item-content {
				font-size: 15px;
				color: rgba(255,255,255,.8);
				font-family: $font-family;
			}

		}
		.read-more {
			height: 24px;
			line-height: 24px;
			background: url(../images/readmore.png) no-repeat right top;
			padding-right: 32px;
			color: #fff;
			font-size: 13px;
			display: inline-block;
			white-space: nowrap;
			margin-top: 10px;
			float: right;
		}
		@media (min-width: 1024px) {
			.item {
				width: 50%;
				float: left;
			}
		}
		@media (min-width: 1050px) {
			.item {
				transition: all .3s;
				padding: 25px 30px 15px;
				.read-more {
					transition: all .3s;
					width: 0;
					height: 0;
					opacity: 0;
					margin-top: 0;
				}
				&:hover {
					.read-more {
						margin-top: 25px;
						width: 105px;	
						height: 24px;
						opacity: 1;
					}
					&:before {
						content: '';
						width: 15px;
						height: 15px;
						background: url(../images/corner-2.png) no-repeat;
						position: absolute;
						left: 30px;
						bottom: 15px;
					}
					&:after {
						content: '';
						width: 15px;
						height: 15px;
						background: url(../images/corner-3.png) no-repeat;
						position: absolute;
						right: 20px;
						top: 25px;
					}
				}
			}	
			.read-more {
				margin-top: 25px;
			}	
		}
	}
	
	.owl-controls {
		/* position: absolute;
		z-index: 9;
		bottom: 0;
		left: 0;
		width: 100%; */

		position: absolute;
			bottom: auto;
			right: 40px;
			left: auto;
			top: 50%;
			transform: translateY(-50%);
			width: 26px;
			margin-top: 0;
			z-index: 9999;
	}
	.owl-theme {
		.owl-controls {
			.owl-page {
				span {
					background: #bab7b8;
					opacity: 1;
				}
				&.active {
					span {
						background: $color-yellow;
					}
				}
			}
		}
		.item {
			position: relative;
			text-align: center;
			&:before {
				content:'';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: rgba(0,0,0,.4);
				z-index: 1;
			}
			&:after {
				content:'';
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 536px;
				z-index: 2;
				background: url('../images/mask.png') repeat-x;
			}
		}
	}
	
}
@media (min-width: 1050px) {
	.widget-home {		
		height: 780px;
		overflow: hidden;
		.text {
			text-align: center;
			.text-1 {
				font-size: 24px;
				margin-top: 200px;
				margin-bottom: 0;
			}
			.text-2 {
				font-size: 48px;
				position: relative;
				padding-bottom: 15px;
				&:before {
					content: '';
					width: 40px;
					height: 2px;
					background: #fff;
					position: absolute;
					left: 50%;
					bottom: 0;				
					margin-left: -20px;
				}
			}
			.text-3 {
				font-size: 17px;
				margin-top: 18px;
				padding: 0 200px;
			}
		}
		.list {
			width: 1100px;
			left: 15px;	
			.item {
				width: 50%;
				position: absolute;
				bottom: 0;
				&.item-green {
					left: 0;
				}
				&.item-blue {
					right: 0;
				}		
			}
		}
		/* .owl-controls {
			position: absolute;
			bottom: auto;
			right: 40px;
			left: auto;
			top: 50%;
			transform: translateY(-50%);
			width: 26px;
			margin-top: 0;
		}	 */
	}
}