.single-page,
.blog-page,
.about-page {
	.sidebar-left {
		margin-top: 0;
		.page-title {			
			text-transform: uppercase;
			font-size: 18px;
			margin-top: 0;
			margin-bottom: 15px;
			line-height: 22px;			
			text-overflow: ellipsis;
			overflow: hidden;
		}
	}
}
.single-page {
	.widget-form-contact {
		border-top: 1px solid $color-yellow;
		margin-left: -25px;
		margin-right: -25px;
		padding-left: 25px;
		padding-right: 25px;
		margin-top: 60px;
		.widget-title {
			position: relative;
			display: inline-block;
			padding-top: 30px;
			&:before {
				content:'';
				height: 4px;
				width: 100%;
				background: $color-yellow;				
				position: absolute;
				top: 0;
			}
		}
	}
}
.single-content {
	font-family: $font-light;
	.entry-title {		
		text-transform: uppercase;
		margin-top: 0;
		color: #001732;
		margin-bottom: 15px;
		font-size: 20px;
		font-family: $font-page-title;
	}
	.entry-content {
		strong {
			font-family: $font-page-title;
			font-weight: 700;
		}
		blockquote {
			border-left: 3px solid #b5b5b5;
			padding: 5px 15px;
			color: #001732;
			font-size: 14px;
		}
		p {
			color: #535353;
		}
	}
}
.entry-content {
	img {
		max-width: 100%;
	}
}
.share-post {
	margin-top: 20px;
	border-bottom: 1px solid #b5b5b5;
	.label {
		font-family: $font-light;
		color: #757575;
		font-size: 15px;
		float: left;
		padding-right: 0;
	}
	ul {
		float: right;
		li {
			float: left;
			margin-left: 20px;
			font-size: 20px;
		}
	}
	a {
		color: #555555;
		&:hover {
			color: $color-yellow;
		}
	}
}
.widget-user {
	font-family: $font-light;
	.avatar {
		border-radius: 4px;
		overflow: hidden;
		margin-bottom: 10px;
		img {
			display: block;
			max-width: 100%;
			height: auto;
		}
	}
	p {
		margin-bottom: 5px;
	}
	.user-name {
		font-size: 24px;
		margin-bottom: 0;
		color: $color-yellow;
	}
	.user-job {
		color: #5f5f5f;
	}
	.user-licence {
		color: #989797;
		margin-bottom: 10px;
		p {
			margin-bottom: 0;
		}
	}
	.user-contact {
		color: #5f5f5f;
		border-top: 1px solid #b2b2b2;
		padding-top: 10px;
	}
	.phone {
		font-family: $font-page-title;
	}
}
.widget-property {
	padding-top: 20px;
	
	.widget-title {
		font-size: 18px;
		color: #001732;
		margin-bottom: 15px;
		margin-top: 0;
		padding-top: 0;
	}
	.item {
		margin-bottom: 20px;		
	}
	.item-thumb {
		margin-bottom: 15px;
		a {
			display: block;
			img {
				display: block;
				width: 100%;
				height: auto;
			}
		}
	}
	.item-title {
		font-size: 18px;
		margin-top: 0;
		margin-bottom: 5px;
		a {
			color: #4f4f4f;
			&:hover {
				text-decoration: none;
			}
		}
	}
	.item-content {
		font-family: $font-light;
		margin-bottom: 0;
		color: #a4a4a4;
	}
}
.widget-form-contact-2 {
	margin-top: 40px;
	.form-group {
		margin-bottom: 10px;
	}
	.form-control {
		height: 40px;
	}
	textarea.form-control {
		height: 155px;
	}
	.btn-primary {
		margin-top: 20px;
		background: $color-yellow;
		border-color: $color-yellow;
		padding-top: 5px;
		padding-bottom: 5px;
		text-transform: uppercase;
	}
}
@media (min-width: 768px) {
	.widget-property {
		.item {
			height: 182px;
			overflow: hidden;
		}
	}
}
@media (min-width: 1050px) {
	.single-page,
	.blog-page,
	.about-page {
		.sidebar-left {
			.page-title {
				color: #fff;
				height: 85px;
				padding-top: 5px;
				font-size: 24px;
				line-height: 30px;
			}
		}
	}
	.blog-page,
	.about-page {
		.sidebar-left {
			.page-title {
				padding-top: 40px;
			}
		}
	}
	.single-content {
		.entry-title {
			margin-bottom: 30px;
			font-size: 24px;
		}
		.entry-content {
			p {
				margin-bottom: 30px;
			}
		}
	}
	.share-post{
		ul {
			float: right;
		}
	}
	.widget-property {
		padding-top: 40px;
		.widget-title {
			font-size: 24px;
		}
		.item {
			height: 240px;
			margin-bottom: 45px;
		}
		.item-thumb {
			margin-bottom: 25px;
		}
	}

}