.widget-testimonial {
	.widget-title {
		font-size: 18px;
	    text-transform: uppercase;
	    margin-top: 0;
	    margin-bottom: 10px;
	    color: #001732;

	}
	.item {
		padding-top: 15px;
		padding-bottom: 15px;
		position: relative;
		padding-left: 40px;
		border-top: 1px solid #ddd;
		.item-icon {
			position: absolute;
			top: 5px;
			left: 0;
			font-size: 20px;
		}
		&:first-child {
			margin-top: 0;
			border-top: none;
		}
	}
	.item-content {		
		color: #535353;
	}
	.item-avatar {
		display: block;
		width: 80px;
		height: 80px;
		float: left;
		margin-right: 15px;
		img {
			display: block;
			width: 100%;
			height: 100%;
			border-radius: 50%;

		}
	}
	.item-content {
		font-style: italic;
		color: #5f5f5f;
	}
	.item-link {
		color: #f0b310;
		font-weight: 500;
		font-size: 16px;
	}
}
@media (min-width: 1050px) {
	.widget-testimonial {
		.widget-title {
			font-size: 24px;
    		margin-bottom: 25px;
		}
		.item {
			padding-top: 30px;
			padding-bottom: 30px;
			&:first-child {
				padding-top: 0;
			}
		}
	}
}
@media (min-width: 768px) {

}