#page-footer {
	background: #001732 url(../images/2.png) no-repeat;
	color: #fff;
	padding-top: 20px;
	.widget-title {
		color: $color-yellow;
		font-size: 16px;
		position: relative;
		&:before {
			content:'';
			width: 10px;
			height: 10px;
			background: url(../images/corner-1.png) no-repeat;
			position: absolute;
			left: -10px;
			top: -10px;	
		}
		
	}
	.widget {
		margin-bottom: 35px;
	}
	.widget_nav_menu {

		ul {
			list-style: none;
			padding-left: 0;
			margin-bottom: 0;
		}
		li {
			margin-bottom: 5px;
		}
		a {
			color: #fff;
			font-family: $font-family;
			&:hover,
			&:focus {
				text-decoration: underline;	
			}
		}
	}
	.widget_text {
		.list-social {
			list-style: none;
			padding-left: 0;
			margin-bottom: 0;
			display: inline-block;
			li {
				float: left;
				margin-right: 7px;
			}
		}
		.box-info {
			background: rgba(0,0,0,.2);
			border: 1px solid rgba(255,255,255,.1);
			text-align: center;
			padding: 20px;
			margin-top: 15px;
			.text-yellow {
				display: block;
			}
			a {
				color: #fff;
				font-size: 18px;
			}
		}
	}
	.footer-bottom {
		margin-top: 10px;
	}
	.copyright {
		font-size: 13px;
		border-top: 1px solid rgba(255,255,255,.2);
		margin: 0;
		padding: 25px 0;
		text-align: center;
		position: relative;
		margin-bottom: 0;
		.icon {
			border: 1px solid rgba(255,255,255,.2);
			height: 34px;
			width: 34px;
			border-radius: 50%;
			line-height: 32px;
			color: #fff;
			background: #001732;
			position: absolute;
			left: 50%;
			top: -17px;
			transform: translateX(-50%);
		}
	}
}

@media (min-width: 1050px) {
	#page-footer {
		padding-top: 60px;
	}
}