#page-header {
	background: $color-bg-header;
	color: #fff;
	padding-top: 10px;
	text-align: center;
	.select-mobile {
		text-align: center;
		background: #555555;
		.dropdown {
			> a {
				color: #fff;	
				padding: 6px 12px;
				font-size: 14px;
				display: inline-block;
				cursor: pointer;
			}
			.caret {
				background: url(../images/caret.png) no-repeat;
				width: 24px;
				height: 11px;
				display: inline-block;
				border: none;
			}
		}
		.wrap-select {
			display: inline-block;
			position: relative;
		}
	}
}
#main-logo {
	display: block;
	margin-bottom: 20px;
	img {
		max-width: 100%;
		height: auto;
	}
}
.header-top {
	font-size: 13px;
	margin-bottom: 10px;	
	.info,
	.contact {
		margin-bottom: 0;
		font-family: $font-light;
		
	}
	.info {
		display: none;
		li {			
			margin-bottom: 10px;
		}
		.fa {
			margin-right: 5px;
		}
		.phone-number {
			font-family: $font-page-title;
			font-weight: 700;
		}
		a {
			color: #fff;			
			&:hover {
				text-decoration: underline;
			}
		}
	}
	.contact {
		overflow: hidden;
		display: inline-block;
		li {
			float: left;
			&:first-child {
				padding-right: 10px;
				margin-right: 10px;
				border-right: 1px solid #fff;
			}
		}
		a {
			color: #fff;			
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
.header-bottom {
	.sf-menu {
		margin-bottom: 0;
		border-right: 1px solid rgba(255,255,255,.2);
		li {
			background: none;
			li {
				font-size: 13px;
			}
		}
		> li {
			> a {
				&:hover {
					background: #001023;
				}
			}
			&.current-menu-item {
				> a {
					background: url(../images/menu.png) repeat-x;
				}
			}
		}
		a {
			color: #fff;
			border-left-color: rgba(255,255,255,.2);
			border-top-color: rgba(255,255,255,.2);
			padding: 12px 20px;
			&.sf-with-ul {
				padding-right: 40px;
			}
		}
		ul {
			background: #fff;
			li {
				border-bottom: 1px solid #e4e4e4;
				&:last-child {
					border-bottom: none;
				}
				&.current-menu-item {
					border-bottom-color: #868686;
					> a {
						color: #000;
					}
				}
			}
			a {
				color: #535353;
				font-size: 13px;
				font-family: $font-family;
				&:hover {
					color: #000;
				}
			}
		}
	}
}
.toggle-menu {
	display: inline-block;
	color: #fff;
	font-size: 32px;
	padding: 10px 10px 10px 0;
	position: absolute;
	right: 5px;
	top: -100px;
}

.home-page {
	.select-mobile {
		display: none !important;
	}
}

@media (min-width: 1050px) {
	.toggle-menu {
		display: none;
	}
	#page-header {
		padding-top: 30px;
		text-align: left;
		.select-mobile {
			display: none;
		}
	}
	#main-logo {
		margin-bottom: 0;
	}
	.header-top {
		margin-bottom: 25px;
		.info {
			display: block;
		}
		.info,.contact {
			float: left;	
		}		

		.info {
			li {
				display: block;
				margin-bottom: 0;
				margin-right: 20px;
				float: left;
			}
		}
	}
}