@font-face {font-family: "Rod";
  src: url("../fonts/rod.eot"); /* IE9*/
  src: url("../fonts/rod.eot?#iefix") format("embedded-opentype"), 
  url("../fonts/rod.woff2") format("woff2"),
  url("../fonts/rod.woff") format("woff"), 
  url("../fonts/rod.ttf") format("truetype"),
  url("../fonts/rod.svg#Rod") format("svg");
}

$font-family: 'Rod', sans-serif;
$font-page-title: 'Montserrat', sans-serif;
$font-light: 'Montserrat Light', arial;
$color-bg-footer: #011833;
$color-bg-header: #001732;
$color-border: #ddd;
$color-gray: #43484d;
$color-gray-2: #5a5a5a;
$color-green: #12A9B0;
$color-pink: #d3215d;
$color-yellow: #f0b310;
$font-size-base: 14px;
$font-16: 16px;
$font-18: 18px;
$font-20: 20px;