@import 'variable';
@import '../libs/bower_components/bootstrap-sass/assets/stylesheets/bootstrap';
@import '../libs/bower_components/font-awesome/scss/font-awesome';
@import '../libs/superfish-master/src/css/superfish';
@import '../libs/mmenu/dist/css/mmenu.all';
@import '../libs/OwlCarousel-master/owl-carousel/scss/owl.carousel';
@import '../libs/OwlCarousel-master/owl-carousel/scss/owl.theme';

@import 'header';
@import 'footer';
@import 'pages/home';
@import 'pages/contact';
@import 'pages/single';
@import 'pages/blog';
@import 'pages/blogdetail';
@import 'pages/about';
@import 'pages/testimonial';
body {
	font-family: $font-page-title;
	font-size: $font-size-base;
	color: #000;
}
/* reset */
* {
	outline: none !important;
}
a {
	&:hover {
		text-decoration: none;
	}
}
textarea {
	resize: none;	
}
.text-yellow {
	color: $color-yellow;
}
.form-control::-moz-placeholder {
    color: #bcbcbc; font-weight: normal; font-family: "Montserrat Light", arial;
    opacity: 1; 
}
.form-control:-ms-input-placeholder {
    color: #bcbcbc; font-weight: normal; font-family: "Montserrat Light", arial;
}
.form-control::-webkit-input-placeholder {
    color: #bcbcbc; font-weight: normal; font-family: "Montserrat Light", arial;
}
@media (min-width: 1050px) {
	.container {
		width: 1130px;
	}
}
