<footer id="page-footer">
	<div class="footer-top">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-md-3">
					<div class="widget widget_nav_menu">
						<h3 class="widget-title">About Us</h3>
						<ul class="menu">
							<li><a href="#">The Team</a></li>
							<li><a href="#">Principal Broker</a></li>
							<li><a href="#">Referral Programme</a></li>
							<li><a href="#">Blog</a></li>
							<li><a href="#">Contact Us</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-6 col-md-3">
					<div class="widget widget_nav_menu">
						<h3 class="widget-title">Corporate Solutions</h3>
						<ul class="menu">
							<li><a href="#">Overview</a></li>
						</ul>
					</div>
					<div class="widget widget_nav_menu">
						<h3 class="widget-title">Property Type</h3>
						<ul class="menu">
							<li><a href="#">Offices</a></li>
							<li><a href="#">Research &IT Spaces</a></li>
							<li><a href="#">Hi-Spec Industrial Spaces</a></li>
							<li><a href="#">Warehouses & Logistics</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-6 col-md-3">
					<div class="widget widget_nav_menu">
						<h3 class="widget-title">Global HNWI Services</h3>
						<ul class="menu">
							<li><a href="#">Overview</a></li>
							<li><a href="#">Luxury Home Finding</a></li>
							<li><a href="#">Deal Sourcing & Acquisition</a></li>
							<li><a href="#">Landlord Letting Services</a></li>
							<li><a href="#">Rental Property Management</a></li>
							<li><a href="#">Research & Analysis</a></li>
							<li><a href="#">Disposition</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-6 col-md-3">
					<div class="widget widget_text">
						<h3 class="widget-title">Get it touch</h3>
						<div class="textwidget">
							<div class="box-info">
								<p>
									<span>EmailL</span>
									<span class="text-yellow">enquiry@rentrent.com.sg</span>
								</p>
								<p>
									<span>Phone: </span>
									<span class="text-yellow">+65 6100 1199</span>
								</p>
								<ul class="list-social">
									<li><a href="#" class="fa fa-twitter-square"></a></li>
									<li><a href="#" class="fa fa-facebook-square"></a></li>
									<li><a href="#" class="fa fa-pinterest-square"></a></li>
									<li><a href="#" class="fa fa-google-plus-square"></a></li>
									<li><a href="#" class="fa fa-linkedin-square"></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
	<div class="footer-bottom">
		<div class="container">
			
			<p class="copyright"><span class="icon fa fa-home"></span>Copyright © 2011- 2016, EMAX Real Estate Consultants LLP. Your Preferred Real Estate Partner in Singapore CEA Licensed Number: L300-9282i</p>
		</div>
	</div>
</footer>