<header id="page-header">
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<a href="home.html" id="main-logo">
					<img src="assets/images/logo.png" alt="Momma Matters">
				</a>
			</div>
			<div class="col-sm-8">
				<div class="header-top clearfix">
					<ul class="info list-unstyled">
						<li>
							<span><i class="fa fa-phone"></i>Hotline: <span class="phone-number">+65 6100 1199</span></span>
						</li>
						<li><a href="mailto:enquiry@rentrent.com.sg"><i class="fa fa-envelope-o"></i>enquiry@rentrent.com.sg</a></li>
					</ul>
					<ul class="contact list-unstyled">
						<li><a href="#">About</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
				</div>
				<!-- header top -->
				<div class="header-bottom">
					<ul class="main-menu sf-menu">
						<li class="current-menu-item"><a href="#">Home </a></li>
						<li><a href="#">Corporate Solutions</a></li>
						<li>
							<a href="#">Global HNWI Services</a>
							<ul>
								<li><a href="#">Overview  </a></li>
								<li><a href="#">Luxury Home Finding   </a></li>
								<li><a href="#">Research & Advisory   </a></li>
								<li><a href="#">Landlord Letting Service   </a></li>
								<li><a href="#">Rental Property Management  </a></li>
							</ul>
						</li>
						<li><a href="#">Referral</a></li>
						<li><a href="#">Blog</a></li>
					</ul>
					<a href="#menu" class="toggle-menu fa fa-bars"></a>
				</div>
				<!-- header bottom -->
			</div>
		</div>
		
	</div>
	<div class="select-mobile">
		<div class="wrap-select">
			<div class="dropdown">
			  <a id="dLabel" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			    Dropdown trigger
			    <span class="caret"></span>
			  </a>
			  <ul class="dropdown-menu" aria-labelledby="dLabel">
			    <li><a href="#">Lorem ipsum dolor.</a></li>
			    <li><a href="#">Lorem ipsum dolor.</a></li>
			    <li><a href="#">Lorem ipsum dolor.</a></li>
			  </ul>
			</div>
		</div>
	</div>
	
</header>
<nav id="menu" class="hidden">
	<ul class="main-menu">
		<li class="current-menu-item"><a href="#">Home </a></li>
		<li><a href="#">Corporate Solutions</a></li>
		<li>
			<a href="#">Global HNWI Services</a>
			<ul>
				<li><a href="#">Overview  </a></li>
				<li><a href="#">Luxury Home Finding   </a></li>
				<li><a href="#">Research & Advisory   </a></li>
				<li><a href="#">Landlord Letting Service   </a></li>
				<li><a href="#">Rental Property Management  </a></li>
			</ul>
		</li>
		<li><a href="#">Referral</a></li>
		<li><a href="#">Blog</a></li>
	</ul>
</nav>