<aside id="sidebar-left" class="col-xs-12 col-md-3">
	<div class="widget widget-nav ">
		<div class="widget-body">
			<ul>
				<li>
					<a href="/notify.html">
						<span class="icon icon-notify">
							<span class="number">1</span>
						</span>
						<span class="text">
						Notifications
						</span>
					</a>
				</li>
				<li class="current-item">
					<a href="/home.html">
						<span class="icon icon-news-feed">
							<span class="number">1</span>
						</span>
						<span class="text">
						My News Feed
						</span>
					</a>
				</li>
				<li>
					<a href="/messages.html">
						<span class="icon icon-message">
							<span class="number">1</span>
						</span>
						<span class="text">
						Messages
						</span>
					</a>
				</li>
				<li class="more-item">					
					<a href="/group.html">
						<span class="icon icon-group">
							<span class="number">1</span>
						</span>
						<span class="text">
						Groups
						</span>
					</a>
					<ul>
						<li>
							<a href="#">
								<span class="text">
								Mavens
								</span>
								<span class="badge">4</span>
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</aside>
<!-- sidebar left -->